.footer {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}

.text {
  margin: 0;
}

.cacheInfo {
  display: inline-block;
  margin-right: 0.8rem;
}

.cacheBtn {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  appearance: none;
  border-bottom: 1px dashed var(--bright-blue);
  cursor: pointer;
}

.cacheBtn:hover {
  border-bottom: 1px solid var(--bright-blue);
}

.imageSize {
  display: inline-block;
  margin-left: 0.5rem;
  color: var(--terra-red);
}

.filesCachedWrapper {
  margin-left: 0.5rem;
}
