#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  padding: 0 1rem;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100%;
  text-align: center;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--margin-xl);
}

.game {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerWrapper {
  padding-top: var(--padding-m);
}

.footerWrapper {
  margin-top: var(--padding-m);
}

.imageContainer {
  display: flex;
  gap: var(--margin-s);
  flex-wrap: wrap;
  justify-content: center;
}

.changeBtnWrapper {
  margin-top: 4rem;
}

.changeBtn {
  width: 200px;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 2px 2px 5px var(--bright-blue);
  background-color: var(--bright-blue);
  padding: var(--margin-xs);
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: var(--margin-xl);
}

.changeBtn:active {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
