.imageWrapper {
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
}

.borderRed {
  box-shadow: 0 1px 10px 5px var(--terra-red);
}

.borderBlue {
  box-shadow: 0 1px 10px 5px var(--bright-blue);
}

.borderGreen {
  box-shadow: 0 1px 10px 5px var(--teal-green);
}

.borderGrey {
  box-shadow: 0 1px 10px 5px var(--warm-gray);
}

.image {
  display: block;
  max-width: 80vw;
  max-height: 25vh;
}

.hidden {
  display: none;
}

.rotateLeft {
  animation: rotateLeft 0.5s ease-in-out forwards;
}

@keyframes rotateLeft {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.rotateRight {
  animation: rotateRight 0.5s ease-in-out forwards;
}

@keyframes rotateRight {
  0% {
    transform: rotateY(180deg);
  }

  50% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

.show {
  animation: show 0.3s ease-in-out forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  animation: hide 0.3s ease-in-out forwards;
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.name {
  transform: rotateY(-180deg);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  word-break: break-all;
  overflow-y: auto;
}
